#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  background-color: lightgray; 
}

#content-container {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  background-color: lightgray; 
}

#fact-container {
  margin-top: 20px;
}

body {
  background-color: gray;
}

.comments {
  background-color: lightblue;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile img{
  max-width: 40%;
  height: auto;
}
.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

#random-image-container img {
  margin-top: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}